*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.contanier{
    background-color: black;
    display: flex;
    width: auto;
    font-size: 22px;
}

.section{
    color: white;
    display: flex;
    margin: 10px;
    gap: 90px;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    /* font-size: 25px; */
}

.list{
    list-style: none;
    display: flex;
    gap: 45px;
}

.list2{
    margin-left: 60px;
    list-style: none;
    display: flex;
     /* font-size: 20px;    */
    gap: 68px;
}

.list3{
    list-style: none;
    margin-left: 80px;
    justify-content: center;
    /* font-size: 30px; */
    align-items: center;
    display: flex;
    gap: 40px;
    width: 17.7%;
    background-color: blue;
}

.section2 {
    display: flex;
    margin: 10px;
    margin-left: 400px;
    height: 20px;
}

.list4{
    display: flex;
    list-style: none;
    gap: 70px;
    color: lightgray;
    justify-content: center;
}

 
.icon{
    margin-left: 200px;
    height: 50px;
} 

.hero img{  
    width: 1340px;
}

.words{
    position: absolute;
    color: white;
    top: 40%;
    right: 12%;
}

.words h1{
    margin-left: 90px;
    font-weight: 700;
}

.words h2{
    margin-left: 190px;
    font-weight: 700;
}

.words p{
     margin-left: 150px;  
}

.word2{
 position: absolute;
    color: white;
    bottom:  40%;
    right: 5%;
    font-weight: 1000;
}

.para1{
    margin-left: 35px;
}

.btn{
     position: absolute;
     top:  62%;
    right: 13%;
    padding: 12px 30px; 
     border: 2px solid #2929af;   
    background: transparent;
     color: white; 
    border-radius: 30px;        
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn button{
    font-size: 16px;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
}


.section3 h1{
    margin-top: 30px;
}

.section3 p{
    margin-top: 100px;
}

.para2{
    justify-items: center;
}

.box{
      display: flex;
    margin-left: 70px;
    width: auto;


}
.box1 img{
    width: 250px;
    margin-left: 90px;
    margin-top: 150px;
}

.box1 h1{
   width: 250px;
    margin-left: 100px;
    margin-top: 30px;  
}

.box1 h4{
 width: 250px;
    margin-left: 140px;  
    margin-top: 10px;  
}

.box1 h3{
  width: 250px;
    margin-left: 190px;     
    margin-top: 8px; 
}

.box2 img{
    width: 250px;   
    margin-top: 25px;
}

.box2 h1{
    margin-top: -40px; 
}

.box2 h4{
 margin-left: 60px;  
    margin-top: 10px;   
}

.box2 h3{
  margin-left: 110px;     
    margin-top: 8px;
}

.box3 img{
 width: 250px;   
    margin-top: 25px;
    margin-left: 90px;   
}


.box3 h1{
    margin-left: 90px;   
    margin-top: -30px; 
}

.box3 h4{
 margin-left: 150px;  
    margin-top: 10px;   
}

.box3 h3{
  margin-left: 190px;     
    margin-top: 8px;
}

.mainl{
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

.mainl h5{
    margin-right: 50px;
    color: lightgrey;
    margin-top: 20px;
    margin-bottom: 50px;
}

.ftr{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    
}

@media screen and (max-width: 768px) {

    .contanier {
        flex-wrap: wrap; 
        justify-content: center;
    }

    .section { 
        gap: 20px;
        margin-left: 0;
        justify-content: space-around;
        width: 100%; 
        font-size: 18px; 
    }

    .list, .list2 {
        
        gap: 20px;
        margin-left: 0;
    }

    .list3 {
        width: 100%;
        margin-left: 0;
        padding: 10px 0; 
        font-size: 20px;
    }

     
    .section2 {
        margin-left: 0;
        justify-content: space-around;
        width: 100%;
    }

    .list4 {
        gap: 30px;
    }

    .icon {
        margin-left: 50px;
    }

    .hero img {
    
        width: 100%;
        height: auto;
    }

    .words, .word2, .btn {
        
        position: static;
        text-align: center;
        width: 100%;
        margin-top: 20px; 
    }
    
    .words h1, .words h2, .word2 p, .para1 {
        margin-left: 0;
    }

    .box {

        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        gap: 40px; 
    }

    .box1, .box2, .box3 {
        width: 300px; 
        text-align: center;
    }

    .box1 img, .box2 img, .box3 img {
        width: 80%;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
    }

    .box1 h1, .box2 h1, .box3 h1 {
        margin-left: 0;
    }

    .box1 h4, .box2 h4, .box3 h4 {
        margin-left: 0;
    }

    .box1 h3, .box2 h3, .box3 h3 {
        margin-left: 0;
    }
    

    .ftr {
    
        flex-direction: column; 
        text-align: center;
        gap: 10px; 
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .list, .list2 {
        flex-direction: column;
        align-items: center;
    }

    .list4 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 10px 0;
    }
    
    .icon {
        display: none; 
    }

    .words {
        top: 30%; 
    }

    .words h1, .words h2 {
        font-size: 1.8em; 
    }
    
    .word2 {
        bottom: 30%;
        padding: 0 10px;
    }
    
    .btn {
        top: 65%;
    }
    
    .box1, .box2, .box3 {
        width: 90%; 
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {

    .contanier {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .section {
        margin-left: 0;
        width: 100%;
        justify-content: space-between;
        gap: 30px;
        font-size: 20px;
    }

    .list, .list2 {
        gap: 25px;
    }

    .list3 {
        width: 100%;
        margin-left: 0;
        justify-content: center;
        padding: 10px 0;
    }


    .section2 {
        width: 100%;
        justify-content: center;
        gap: 40px;
        margin-left: 0;
    }

    .icon {
        margin-left: 0;
    }


    .hero img {
        width: 100%;
        height: auto;
    }

    .words {
        top: 35%;
        right: 5%;
        text-align: right;
    }

    .words h1, 
    .words h2 {
        font-size: 2.2rem;
    }

    .word2 {
        right: 5%;
        bottom: 35%;
        width: 60%;
        text-align: right;
    }

    .btn {
        top: 60%;
        right: 8%;
        padding: 10px 25px;
    }

    .box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        margin-left: 0;
    }

    .box1, .box2, .box3 {
        width: 280px;
        text-align: center;
    }

    .box1 img, .box2 img, .box3 img {
        width: 80%;
        margin-left: 0;
    }

    .ftr {
        padding: 25px;
        font-size: 16px;
    }
}